*.class
*.pdn

# Package Files #
*.jar
*.war
*.ear

#Forge Stuffs
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/CREDITS-fml.txt
/.gradle
/build
/eclipse/*
/lib/
/bin/*
forge-*

.classpath
.project
.settings/*
